<Files .*>
Order Deny,Allow
Allow From All
</Files>

RewriteEngine On
Options +FollowSymlinks
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*$) /index.php?q=/$1